* {
  position: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ProximaNova, Helvetica, Arial, sans-serif;
}
.header {
  width: 100vw;
  height: 126px;
}

.st_line {
  width: 100%;
  height: 4px;
  background-color: rgb(9, 143, 9);
  position: fixed;
  top: 0;
}

/* up_nav start from here. */

.up_nav {
  width: 100vw;
  padding: 10px 0;
  display: grid;
  justify-content: center;
  grid-template-areas: "logo search location login last_logo";
  gap: 20px;
}
.logo {
  grid-area: logo;
  width: 7vw;
  height: 35px;
  display: flex;
}
.logo > img {
  height: 35px;
}
.search_bar {
  grid-area: search;
  width: 40vw;
  display: flex;
  align-items: center;
  border: 1px solid rgba(53, 51, 51, 0.2);
  outline: none;
  border-radius: 5px;
}
.search_bar:focus-within {
  border-color: rgb(27, 220, 27);
}
.search_icon > img {
  height: 30px;
  width: 2vw;
  padding: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_bar > input {
  width: 38vw;
  padding: 10px 0 5px 20px;
  font-size: 14px;
  opacity: 0.7;
  border: none;
  outline: none;
}
.location {
  grid-area: location;
  width: 10vw;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
.location > img {
  height: 25px;
  border: none;
  border-radius: 50%;
}
.login_signup {
  grid-area: login;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(32, 32, 32);
}
.login_signup > a {
  text-decoration: none;
  color: white;
}
.shoppin_cart_icon {
  grid-area: last_logo;
  width: 3vw;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: rgb(250, 230, 230);
  cursor: pointer;
}
.shoppin_cart_icon > img {
  height: 30px;
  background-color: rgb(226, 26, 26);
  border-radius: 50%;
}

/* up_nav end here. */

/* lower_nav start from here */

.lower_nav {
  width: 100vw;
  padding: 5px 195px;
  display: grid;
  grid-template-areas: "first middle last";
  gap: 20px;
}

.category {
  grid-area: first;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  background-color: rgb(94, 148, 0);
  cursor: pointer;
}
.category > select {
  width: 95%;
  padding: 0px;
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.food_container {
  grid-area: middle;
  width: 45vw;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  position: relative;
}
.food_container > a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}
.food_container > a:hover {
  color: rgb(204, 0, 0);
}
.food_container > img {
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.basket_offer {
  grid-area: last;
  width: 13vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smart_cart {
  display: flex;
  align-items: center;
  width: 6vw;
  padding: 2px 5px;
  gap: 10px;
  background-color: #e9e5e5;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}
.smart_cart > img {
  height: 30px;
  background-color: white;
  border-radius: 50%;
}
.offer {
  width: 6vw;
  padding: 6px 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #e9e5e5;
  cursor: pointer;
}
.offer > img {
  height: 25px;
}
/* lower_nav end here */

/* Main section start from here. */

/* menu part start from here */
.menu_container {
  width: 100%;
  padding: 65px 195px 32px 195px;
  display: grid;
  gap: 25px;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}
.menu_container > div > img {
  height: 50px;
}

.nonveg {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  cursor: pointer;
}
.neupass {
  padding: 1px;
  border-radius: 10px;
  background-color: #19102d;
  border: none;
  cursor: pointer;
}
.ayurveda {
  font-weight: bold;
  color: white;
  padding: 19px 30px;
  border-radius: 10px;
  border: none;
  background-color: #4c6120;
  cursor: pointer;
}
.buy_save {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  cursor: pointer;
}
.deals {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  cursor: pointer;
}
.store {
  font-weight: bold;
  padding: 19px 20px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  cursor: pointer;
}

/* menu part end here */

/* my samrt basket part start from here */

.my_smart_basket_parent_container {
  width: 100%;
  max-height: 100%;
  padding: 0 195px;
  margin-bottom: 32px;
}
.content_container {
  background-color: #f1f1f1;
  padding: 20px;
}
.up_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.view_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.view_part > a {
  opacity: 0.6;
  color: black;
}
.view_part > a:hover {
  opacity: 1;
}
.arrow {
  display: flex;
  gap: 10px;
}
.left_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #d7d6d6;
  border-radius: 10px;
  cursor: pointer;
}
.left_arrow:hover {
  border: 1px solid black;
}
.left_arrow > img {
  height: 15px;
}
.right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  border: none;
}
.right_arrow:hover {
  border: 1px solid black;
}
.right_arrow > img {
  height: 15px;
  transform: rotate(180deg);
}

.smart_basket_item {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}
.basket_content {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "item1 item2 item3 item4";
  gap: 20px;
}

.item_container_1 {
  padding: 10px;
  border-radius: 10px;
  grid-area: item1;
  background-color: white;
}
.item1 {
  height: 235px;
  border-radius: 10px;
  border: 1px solid rgb(209, 213, 213);
  cursor: pointer;
}
.smart_offer {
  text-align: center;
  height: 25px;
  width: 80px;
  font-size: 14px;
  padding: 5px 5px;
  background-color: #466e03;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.div2 > img {
  width: 180px;
  border: 1px solid green;
  height: 185px;
  display: block;
  margin: auto;
}
.item2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
p {
  font-size: 14px;
  opacity: 0.5;
}
span {
  opacity: 0.8;
}
.item3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.item3 > select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
.strike {
  display: inline;
  text-decoration: line-through;
}
.item4 {
  margin-top: 40px;
}
.item4 > select {
  width: 100%;
  padding: 8px 0px 8px 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #35690deb;
  font-weight: 550;
  font-size: 14px;
  background-image: linear-gradient(to right, #eff6e7 10%, #e5f5c6 90%);
  cursor: pointer;
}
.item5 {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.icon {
  width: 40px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.icon > img {
  height: 18px;
}

/* tooltip arrow start */

.icon::before {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 25px;
  left: 8px;
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent black transparent;
}
.icon:hover::before {
  visibility: visible;
}

/* tooltip arrow end here */

/* tooltip part start from here */

.icon::after {
  visibility: hidden;
  content: "Save For Later";
  color: white;
  width: 90px;
  font-size: 12px;
  background-color: black;
  position: absolute;
  top: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
}
.icon:hover:after {
  visibility: visible;
}
/* tooptip part end here */

.add {
  border: 1px solid red;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: red;
  cursor: pointer;
}

.add:hover {
  color: white;
  background-image: linear-gradient(rgb(184, 16, 16), rgb(226, 38, 38));
}

.item_container_2 {
  padding: 10px;
  border-radius: 10px;
  grid-area: item2;
  background-color: white;
}

.item_container_3 {
  padding: 10px;
  border-radius: 10px;
  grid-area: item3;
  background-color: white;
}
.item_container_4 {
  padding: 10px;
  border-radius: 10px;
  grid-area: item4;
  background-color: white;
}

/* my smart basket part end here */

/* Best Seller part start from here. */
.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.num_star {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #e7f6d4;
}
.num_star > p {
  opacity: 1;
  color: #3a6703;
}
.rating_star {
  height: 12px;
  background-color: #506f19;
  border-radius: 50%;
}
.rating > p {
  font-size: 12px;
}

/* Best Seller part end here. */

/* Top offer part start from here */

.top_offer_container{
  width: 100%;
  border: 1px solid red;
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer_heading{
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

.offer_content{
  width: 100%;
  border: 1px solid pink;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: "item1 item2 item3 item4";
  column-gap: 20px;
}

.offer_item1{
  height: 200px;
  grid-area: item1;
  position: relative;
  box-shadow: 10px 10px 100px 100px #f4f4f4;
  cursor: pointer;
  background-color: #fff;
}
.offer_item1:hover{
  background: repeating-radial-gradient(#e7e5e5,#e7e5e5)  ;
  box-shadow: -1px 1px 1px 1px #e7e5e5, 1px 1px 1px 1px #e7e5e5, -1px -1px 1px 1px #e7e5e5, 1px -1px 1px 1px #e7e5e5;
}
.up_part{
  height: 130px;
  background-color: #dd2026;
  z-index: 2;
}
.lo_part{
  height: 100px;
  background-color: white;
  position: relative;
  bottom: 32px;
  left: 1.5%;
  z-index: 5;
  width: 98.5%;
  
}
.offer_item2{
  grid-area: item2;
  border: 1px solid black;
}
.offer_item3{
  grid-area: item3;
  border: 1px solid black;
}
.offer_item4{
  grid-area: item4;
  border: 1px solid black;
}


/* Top offer part end here */

/* main section end here. */
