* {
  position: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}
/* 480px Responsive part starrt from here. */

@media (max-width: 480px) {
  .header {
    display: none;
  }
  .mobile_header {
    display: block !important;
    width: 100vw !important;
    height: 100px !important;
    border: 1px solid red !important;
  }
}

/* 480px Responsive part end here. */

.mobile_header {
  display: none;
}

.header_12 {
  width: 100vw;
  height: 126px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1;
  box-shadow: 0 2px 10px 2px #eaeaea;
}

.st_line {
  width: 100%;
  height: 4px;
  background-color: rgb(9, 143, 9);
  position: fixed;
  top: 0;
}
.st_line::before {
  content: "";
  width: 50%;
  transform: translateX(-100%);
}
/* up_nav start from here. */

.up_nav {
  width: 100vw;
  padding: 10px 0;
  display: grid;
  justify-content: center;
  grid-template-areas: "logo search location login last_logo";
  gap: 20px;
}
.logo {
  grid-area: logo;
  width: 7vw;
  height: 35px;
  display: flex;
}
.logo > img {
  height: 35px;
}
.search_bar {
  grid-area: search;
  width: 40vw;
  display: flex;
  align-items: center;
  border: 1px solid rgba(53, 51, 51, 0.2);
  outline: none;
  border-radius: 5px;
}
.search_bar:focus-within {
  border-color: rgb(27, 220, 27);
}
.search_icon > img {
  height: 30px;
  width: 2vw;
  padding: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_bar > input {
  width: 38vw;
  padding: 10px 0 5px 20px;
  font-size: 14px;
  opacity: 0.7;
  border: none;
  outline: none;
}
.location {
  grid-area: location;
  width: 10vw;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
.location > img {
  height: 25px;
  border: none;
  border-radius: 50%;
}
.login_signup {
  grid-area: login;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(32, 32, 32);
}
.login_signup > a {
  text-decoration: none;
  color: white;
}
.shoppin_cart_icon {
  grid-area: last_logo;
  width: 3vw;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: rgb(250, 230, 230);
  cursor: pointer;
}
.shoppin_cart_icon > img {
  height: 30px;
  background-color: rgb(226, 26, 26);
  border-radius: 50%;
}

/* up_nav end here. */

/* lower_nav start from here */

.lower_nav {
  width: 100vw;
  padding: 5px 195px;
  display: grid;
  grid-template-areas: "first middle last";
  gap: 20px;
}

.category {
  grid-area: first;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  background-color: rgb(94, 148, 0);
  cursor: pointer;
}
.category > select {
  width: 95%;
  padding: 0px;
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.food_container {
  grid-area: middle;
  width: 45vw;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  position: relative;
}
.food_container > a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}
.food_container > a:hover {
  color: rgb(204, 0, 0);
}
.food_container > img {
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.basket_offer {
  grid-area: last;
  width: 13vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smart_cart {
  display: flex;
  align-items: center;
  width: 6vw;
  padding: 2px 5px;
  gap: 10px;
  background-color: #e9e5e5;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}
.smart_cart > img {
  height: 30px;
  background-color: white;
  border-radius: 50%;
}
.offer {
  width: 6vw;
  padding: 6px 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #e9e5e5;
  cursor: pointer;
}
.offer > img {
  height: 25px;
}
/* lower_nav end here */

/* Main section start from here. */

/* menu part start from here */
.menu_container {
  width: 100%;
  padding: 165px 195px 32px 195px;
  display: grid;
  gap: 25px;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}
.menu_container > div > img {
  height: 50px;
}

.nonveg {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  cursor: pointer;
}
.neupass {
  padding: 1px;
  border-radius: 10px;
  background-color: #19102d;
  border: none;
  cursor: pointer;
}
.ayurveda {
  font-weight: bold;
  color: white;
  padding: 19px 30px;
  border-radius: 10px;
  border: none;
  background-color: #4c6120;
  cursor: pointer;
}
.buy_save {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  cursor: pointer;
}
.deals {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  cursor: pointer;
}
.store {
  font-weight: bold;
  padding: 19px 20px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  cursor: pointer;
}

/* menu part end here */

/* my samrt basket part start from here */

.my_smart_basket_parent_container {
  width: 100%;
  max-height: 100%;
  padding: 0 195px;
  margin-bottom: 32px;
}
.content_container {
  background-color: #f1f1f1;
  padding: 20px;
}
.up_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.view_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.view_part > a {
  opacity: 0.6;
  color: black;
}
.view_part > a:hover {
  opacity: 1;
}
.arrow {
  display: flex;
  gap: 10px;
}
.left_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #d7d6d6;
  border-radius: 10px;
  cursor: pointer;
}
.left_arrow:hover {
  border: 1px solid black;
}
.left_arrow > img {
  height: 15px;
}
.right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  border: none;
}
.right_arrow:hover {
  border: 1px solid black;
}
.right_arrow > img {
  height: 15px;
  transform: rotate(180deg);
}

.smart_basket_item {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}
.basket_content {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "item1 item2 item3 item4";
  gap: 20px;
}

.item_container_1 {
  padding: 10px;
  border-radius: 10px;
  grid-area: item1;
  background-color: white;
}
.item1 {
  height: 235px;
  border-radius: 10px;
  border: 1px solid rgb(209, 213, 213);
  cursor: pointer;
}
.smart_offer {
  text-align: center;
  height: 25px;
  width: 80px;
  font-size: 14px;
  padding: 5px 5px;
  background-color: #466e03;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.div2 > img {
  width: 180px;
  border: 1px solid green;
  height: 185px;
  display: block;
  margin: auto;
}
.item2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
p {
  font-size: 14px;
  opacity: 0.5;
}
span {
  opacity: 0.8;
}
.item3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.item3 > select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
.strike {
  display: inline;
  text-decoration: line-through;
}
.item4 {
  margin-top: 40px;
}
.item4 > select {
  width: 100%;
  padding: 8px 0px 8px 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #35690deb;
  font-weight: 550;
  font-size: 14px;
  background-image: linear-gradient(to right, #eff6e7 10%, #e5f5c6 90%);
  cursor: pointer;
}
.item5 {
  display: flex;
  gap: 10px;
  display: flex;
  margin-top: 10px;
}
.icon {
  width: 40px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.icon > img {
  height: 18px;
}

/* tooltip arrow start */

.icon::before {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 25px;
  left: 8px;
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent black transparent;
}
.icon:hover::before {
  visibility: visible;
}

/* tooltip arrow end here */

/* tooltip part start from here */

.icon::after {
  visibility: hidden;
  content: "Save For Later";
  color: white;
  width: 90px;
  font-size: 12px;
  background-color: black;
  position: absolute;
  top: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
}
.icon:hover:after {
  visibility: visible;
}
/* tooptip part end here */

.add {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: red;
  cursor: pointer;
}

.add:hover {
  color: white;
  background-image: linear-gradient(rgb(184, 16, 16), rgb(203, 19, 19));
}

.item_container_2 {
  padding: 10px;
  border-radius: 10px;
  grid-area: item2;
  background-color: white;
}

.item_container_3 {
  padding: 10px;
  border-radius: 10px;
  grid-area: item3;
  background-color: white;
}
.item_container_4 {
  padding: 10px;
  border-radius: 10px;
  grid-area: item4;
  background-color: white;
}

/* my smart basket part end here */

/* Best Seller part start from here. */
.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.num_star {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #e7f6d4;
}
.num_star > p {
  opacity: 1;
  color: #3a6703;
}
.rating_star {
  height: 12px;
  background-color: #506f19;
  border-radius: 50%;
}
.rating > p {
  font-size: 12px;
}

/* Best Seller part end here. */

/* Top offer part start from here */

.top_offer_container {
  width: 100%;
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer_heading {
  font-size: 24px;
  font-weight: bold;
}

.offer_content {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "item1 item2 item3 item4";
  column-gap: 20px;
}

.offer_item1 {
  height: 200px;
  grid-area: item1;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 2px 2px 2px #f1f1f1, 0px -2px 2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.offer_item1:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.up_part {
  height: 60%;
  background-color: #dd2026;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.up_part > h1 {
  height: 75%;
  padding-bottom: 1px;
  display: flex;
  align-items: end;
  padding-left: 30px;
  color: #fef9fa;
  font-size: 21px;
  letter-spacing: 1px;
}
.lo_part {
  width: 98.5%;
  height: 40%;
  border: none;
  position: absolute;
  top: 45%;
  left: 1.5%;
  background-color: white;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.lo_part > h1 {
  display: flex;
  height: 100%;
  padding-left: 25px;
  padding-top: 1px;
  font-size: 21px;
  color: #4a4647;
}
.lo_part > a {
  padding-left: 25px;
  font-size: 13px;
  color: #848283;
  position: relative;
  text-decoration: none;
}
.lo_part > a::after {
  content: "Top Offers";
  visibility: hidden;
  width: 60%;
  padding: 5px;
  position: absolute;
  top: 15px;
  left: 70px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.lo_part > a:hover:after {
  color: black;
  visibility: visible;
}
.offer_item2 {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.offer_item2:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.offer_item3 {
  grid-area: item3;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.offer_item3:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.offer_item4 {
  grid-area: item4;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.offer_item4:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}

/* Top offer part end here */

/* Fruits and Vegitable start from here. */

.fruits_vegitables_container {
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fv_heading {
  font-size: 24px;
  font-weight: bold;
}

.fruits_vegitables_content {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "fv_item1 fv_item2 fv_item3 fv_item4";
  column-gap: 20px;
}
.fv_item1 {
  grid-area: fv_item1;
  max-height: 100%;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.fv_item1:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.fv_up_part {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: end;
}
.fv_up_part > img {
  height: 95%;
  width: 95%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fv_lo_part {
  height: 30%;
  display: flex;
  gap: 10px;
  align-items: end;
  padding-bottom: 10px;
}
.red_part {
  height: 25px;
  width: 4px;
  background-color: #da2127;
  display: flex;
  align-items: end;
}
.f_veg {
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 2px;
}
.fresh_offer > h1 {
  font-size: 21px;
  color: #1d1c18;
}
.fv_item2 {
  grid-area: fv_item2;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.fv_item2:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.fv_item3 {
  grid-area: fv_item3;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.fv_item3:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.fv_item4:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.fv_item4 {
  grid-area: fv_item4;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
/* Fruits and Vegitables part end here. */

/* Dailty Staples part start from here. */

.daily_staples_container {
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.staple_heading {
  font-size: 24px;
  font-weight: bold;
}
.staples_item_container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "ds_item1 ds_item2 ds_item3 ds_item4 ds_item5 ds_item6";
  gap: 20px;
}
.ds_item1 {
  grid-area: ds_item1;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.ds_item1:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.up_img {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: end;
}
.up_img > img {
  height: 95%;
  width: 95%;
  border-top-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
}
.item_name {
  margin-left: 10px;
  font-size: 12px;
}
.ds_item2 {
  grid-area: ds_item2;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.ds_item2:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.ds_item3 {
  grid-area: ds_item3;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.ds_item3:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.ds_item4 {
  grid-area: ds_item4;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.ds_item4:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.ds_item5 {
  grid-area: ds_item5;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.ds_item5:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.ds_item6 {
  grid-area: ds_item6;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.ds_item6:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}

/* Daily Staples part end here. */

/* Beverage part start from here. */

.beverage_container {
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.bev_heading {
  font-size: 24px;
  font-weight: bold;
}
.bev_content {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "bev_item1 bev_item2 bev_item3 bev_item4 bev_item5 bev_item6";
  gap: 20px;
}
.bev_item1 {
  height: 140px;
  grid-area: bev_item1;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.bev_item1:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.bev_up_img {
  height: 70%;
  display: flex;
  align-items: end;
}
.bev_up_img > img {
  height: 95%;
  width: 95%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bev_lo_part {
  height: 30%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.bev_lo_part > span {
  height: 15px;
  width: 4px;
  background-color: red;
  margin-top: 10px;
}
.bev_offer > p {
  font-size: 10px;
  padding-bottom: 2px;
}
.bev_offer > h1 {
  font-size: 14px;
}
.bev_item2 {
  height: 140px;
  grid-area: bev_item2;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.bev_item2:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.bev_item3 {
  height: 140px;
  grid-area: bev_item3;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.bev_item3:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.bev_item4 {
  height: 140px;
  grid-area: bev_item4;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.bev_item4:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.bev_item5 {
  height: 140px;
  grid-area: bev_item5;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.bev_item5:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.bev_item6 {
  height: 140px;
  grid-area: bev_item6;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.bev_item6:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}

/* Beverage part end here */

/* Snakes part start from here. */

.snacks_container {
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.snack_heading {
  font-size: 24px;
  font-weight: bold;
}
.snack_content {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "snack_item1 snack_item2 snack_item3 snack_item4";
  column-gap: 20px;
}
.snack_item1 {
  grid-area: snack_item1;
  max-height: 220px;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.snack_item1:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.snack_up_part {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: end;
}
.snack_up_part > img {
  height: 95%;
  width: 95%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.snack_lo_part {
  height: 30%;
  display: flex;
  gap: 10px;
  align-items: end;
  padding-bottom: 10px;
}
.snack_red_part {
  height: 25px;
  width: 4px;
  background-color: #da2127;
  display: flex;
  align-items: end;
}
.snack_name {
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 2px;
}
.snack_offer > h1 {
  font-size: 21px;
  color: #1d1c18;
}
.snack_item2 {
  grid-area: snack_item2;
  max-height: 220px;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.snack_item2:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.snack_item3 {
  grid-area: snack_item3;
  max-height: 220px;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.snack_item3:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.snack_item4 {
  grid-area: snack_item4;
  max-height: 220px;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.snack_item4:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}

/* Snakes part end here. */

/* Cleaning & Householding part start from here. */

.cleaning_container {
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cleaning_heading {
  font-size: 24px;
  font-weight: bold;
}
.cleaning_content {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "cleaning_item1 cleaning_item2 cleaning_item3 cleaning_item4";
  column-gap: 20px;
}
.cleaning_item1 {
  grid-area: cleaning_item1;
  max-height: 220px;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.cleaning_item1:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.cleaning_item_up {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: end;
}
.cleaning_item_up > img {
  height: 95%;
  width: 95%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cleaning_item_lo {
  height: 30%;
  display: flex;
  gap: 10px;
  align-items: end;
  padding-bottom: 10px;
}
.cleaning_red_part {
  height: 25px;
  width: 4px;
  background-color: #da2127;
  display: flex;
  align-items: end;
}
.snack_cleaning_namename {
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 2px;
}
.cleaning_offer > h1 {
  font-size: 21px;
  color: #1d1c18;
}
.cleaning_item2 {
  grid-area: cleaning_item2;
  max-height: 220px;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.cleaning_item2:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.cleaning_item3 {
  grid-area: cleaning_item3;
  max-height: 220px;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.cleaning_item3:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.cleaning_item4 {
  grid-area: cleaning_item4;
  max-height: 220px;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.cleaning_item4:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}

/* Cleaning & Householding part end here. */

/* Beauty & Hygiene part start from here. */

.beauty_container {
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.beauty_heading {
  font-size: 24px;
  font-weight: bold;
}
.beauty_content {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "beauty_item1 beauty_item2 beauty_item3 beauty_item4 beauty_item5 beauty_item6";
  gap: 20px;
}
.beauty_item1 {
  height: 140px;
  grid-area: beauty_item1;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.beauty_item1:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.beauty_up_img {
  height: 70%;
  display: flex;
  align-items: end;
}
.beauty_up_img > img {
  height: 95%;
  width: 95%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.beauty_lo_part {
  height: 30%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.beauty_lo_part > span {
  height: 15px;
  width: 4px;
  background-color: red;
  margin-top: 10px;
}
.beauty_offer > p {
  font-size: 10px;
  padding-bottom: 2px;
}
.beauty_offer > h1 {
  font-size: 14px;
}
.beauty_item2 {
  height: 140px;
  grid-area: beauty_item2;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.beauty_item2:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.beauty_item3 {
  height: 140px;
  grid-area: beauty_item3;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.beauty_item3:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.beauty_item4 {
  height: 140px;
  grid-area: beauty_item4;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.beauty_item4:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.beauty_item5 {
  height: 140px;
  grid-area: beauty_item5;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.beauty_item5:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.beauty_item6 {
  height: 140px;
  grid-area: beauty_item6;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.beauty_item6:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}

/* Beauty & Hygiene part end here. */

/* Home & Kitchen part start form here. */

.kitchen_container {
  padding: 10px 195px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.kitchen_heading {
  font-size: 24px;
  font-weight: bold;
}
.kitchen_content {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "kitchen_item1 kitchen_item2 kitchen_item3 kitchen_item4 kitchen_item5 kitchen_item6";
  gap: 20px;
}
.kitchen_item1 {
  height: 140px;
  grid-area: kitchen_item1;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.kitchen_item1:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.kitchen_item_up_part {
  height: 70%;
  display: flex;
  align-items: end;
}
.kitchen_item_up_part > img {
  height: 95%;
  width: 95%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.kitchen_item_lo_part {
  height: 30%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.kitchen_item_lo_part > span {
  height: 15px;
  width: 4px;
  background-color: red;
  margin-top: 10px;
}
.kitchen_offer > p {
  font-size: 10px;
  padding-bottom: 2px;
}
.kitchen_offer > h1 {
  font-size: 14px;
}
.kitchen_item2 {
  height: 140px;
  grid-area: kitchen_item2;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.kitchen_item2:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.kitchen_item3 {
  height: 140px;
  grid-area: kitchen_item3;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.kitchen_item3:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.kitchen_item4 {
  height: 140px;
  grid-area: kitchen_item4;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.kitchen_item4:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.kitchen_item5 {
  height: 140px;
  grid-area: kitchen_item5;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.kitchen_item5:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}
.kitchen_item6 {
  height: 140px;
  grid-area: kitchen_item6;
  box-shadow: 2px 2px 2px #f1f1f1, -2px -2px 2px #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.kitchen_item6:hover {
  box-shadow: 0px 10px 10px 5px rgba(97, 90, 90, 0.2),
    0px -2px 10px 0 rgba(97, 90, 90, 0.2);
}

/* Home & Kitchen part end here. */

/* Paragraph part start from here. */

.p_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 195px;
}
.p_container > .p_1st,
.p_2nd,
.p_3rd,
.p_4th,
.p_5th,
.p_6th,
.p_7th {
  font-size: 16px !important;
  opacity: 0.6;
  text-align: justify;
}

/* Paragraph part end here. */

/* main section end here. */

/* footer part start from here. */
footer {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 60px 195px 20px 195px;
  color: white;
}
.footer_up {
  width: 100%;
  display: flex;
  gap: 250px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}
.heading {
  margin-bottom: 10px;
  font-size: 14px;
}
ul > a {
  text-decoration: none;
  color: white;
}
ul > li {
  list-style-type: none;
}
ul > li > a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  font-size: 13px;
}
.div_3rd {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div_3rd > img {
  height: 70px;
}
.playstore_apple {
  display: flex;
  align-items: center;
  gap: 30px;
}
.playstore_icon {
  height: 50px;
  background-color: black;
}
.apple_icon {
  height: 34px;
}
.socialmedia > a > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
hr {
  margin-top: 30px;
  border: none;
  border-top: 1px dashed white;
}
.footer_lo {
  margin-top: 30px;
  padding-right: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "f_lo_div1 f_lo_div2";
  gap: 70px;
}
.f_lo_div1 {
  grid-area: f_lo_div1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.f_lo_div1 > h5 {
  opacity: 0.7;
  font-size: 15px;
}
.cat_content {
  display: flex;
  justify-content: space-between;
}
.f_lo_div2 {
  grid-area: f_lo_div2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.f_lo_div2 > h5 {
  opacity: 0.7;
  font-size: 15px;
}
.brand_content {
  display: flex;
  justify-content: space-between;
}

.f_last > p {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer part end here. */
